/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 h1 {
    background-color: rgb(255, 243, 228);
    padding: 10px;
    margin: 20px auto; 
    border-radius: 5%;
    color: #00006d;
    text-align: center;
    font-family: "ヒラギノ角ゴ ProN", "HiraKakuProN-W3", "游ゴシック", "Yu Gothic", sans-serif;
 }
 
 .job_applications {
    color: #000033;
    margin: auto;
    font-family: "ヒラギノ明朝 ProN", "游明朝", "Times New Roman", "Georgia", serif;
    padding: 20px;
    border-radius: 10px;
 }

 .job_applications table th {
    background-color: rgb(0, 0, 100);
    color: white;
    padding: 10px;
    border-bottom: 1px solid #f7f7f7;
    text-align: center;
    font-size: 0.75em;
 }

.job_applications table td {
    background-color: rgb(243, 243, 255);
    padding: 10px;
    border-bottom: 1px solid #f7f7f7;
    text-align: left;
 }

 .form-text {
    color: #000033;
    font-family: "ヒラギノ明朝 ProN", "游明朝", "Times New Roman", "Georgia", serif;
    margin: 10px 0;
 }

 .job-application-form {
    max-width: 760px;
    margin: 32px auto;
    background-color: rgb(232, 232, 232);
    padding: 24px;
    border-radius: 12px;
    color: #000033;
    font-family: "ヒラギノ角ゴ ProN", "HiraKakuProN-W3", "游ゴシック", "Yu Gothic", sans-serif;
 }
 
 .form-row{
   display: flex;
   align-items: center;
   gap: 16px;
   margin-bottom: 16px;
 }

 .form-label {
    width: 150px;
    flex-shrink: 0;
    font-weight: 600;
    color : #00006d;
 }

 .form-control {
    flex: 1;
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #bfc3d9;
    border-radius: 6px;
    background-color: #ffffff;
    color: #000033;
    font-family:  "ヒラギノ明朝 ProN", "游明朝", "Times New Roman", "Georgia", serif;
    font-size: 1em;
 }

.job-application-show {
    max-width: 820px;
    margin: 32px auto;
    padding: 24px;
    background-color: rgb(232, 232, 232);
    border-radius: 12px;
}

.job-application-detail {
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    overflow: hidden;
}

 .detail-item {
    margin-bottom: 1px solid #e5e7eb;
    margin: 0;
    display: flex;
 }

 .detail-item:last-child {
    border-bottom: none;
 }

 .detail-label {
    width: 180px;
    font-weight: 600;
    color: #ffffff;
    background-color: rgb(0, 0, 100);
    flex-shrink: 0;
 }

 .detail-value {
    padding: 12px 16px;
    color: #000033;
    background-color: rgb(243, 243, 255);
    font-family: "ヒラギノ明朝 ProN", "游明朝", "Times New Roman", "Georgia", serif;
    flex: 1;
 }