/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 h1 {
    background-color: rgb(255, 243, 228);
    padding: 10px;
    margin: 20px auto; 
    border-radius: 5%;
    color: #00006d;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 .job_applications {
    color: #000033;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    border-radius: 10px;
 }

 .job_applications table th {
    background-color: rgb(0, 0, 100);
    color: white;
    padding: 10px;
    border-bottom: 1px solid #f7f7f7;
    text-align: center;
    font-size: 0.75em;
 }


.job_applications table td {
    background-color: rgb(243, 243, 255);
    padding: 10px;
    border-bottom: 1px solid #f7f7f7;
    text-align: left;
 }
